.leaflet-tile-container:first-child .leaflet-tile-loaded.leaflet-html-tile {
    display: none !important;
}

.leaflet-html-tile {
    text-transform: lowercase;
    color: #c77c11;
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        1px 0 0 #000,
        -1px 0 0 #000,
        0 1px 0 #000,
        0 -1px 0 #000;
    width: 256px;
    height: 256px;
    box-sizing: border-box;
    /*
    background-color: rgba(0,0,0,.2);
    border: 1px solid rgba(150,150,150,.1);
    */
}

/*
.leaflet-html-tile:hover {
    background-color: rgba(0,0,0,.5);
}
*/
